<html>
<body>

<form action="/price_laptop" method="POST">
    <h1>What price is this laptop?</h1>
    <!-- <p>Welcome to the greatest, most accurate (80% accurate) model you've ever seen.</p> -->
    <img src="/static/laptopmoney.png" alt="Laptop Money">
    <p>Enter your specs below, hit submit, and you'll receive a price prediction in euros. <br>Is your spec not in a list? Pick the closest one or try another laptop.</p> 
    <p>To calculate your PPI <a href="https://www.calculatorsoup.com/calculators/technology/ppi-calculator.php">click here</a>. To find your laptop specs <a href="https://www.laptoparena.net/">click here</a>.</p>

    <!-- Apple, HP, Acer, Asus, Dell, Lenovo, MSI, Microsoft, Toshiba, Xiaomi, Razer, Vero, Huawei, Chuwi, Mediacom, Samsung, Fujitsu, LG-->
    <label for="Company">Company (Which manufacturer made your laptop?):</label>
    <select id="Company" name="Company">
        <option value="Dell">Dell</option>
        <option value="Lenovo">Lenovo</option>
        <option value="HP">HP</option>
        <option value="Asus">Asus</option>
        <option value="Acer">Acer</option>
        <option value="MSI">MSI</option>
        <option value="Toshiba">Toshiba</option>
        <option value="Apple">Apple</option>
        <option value="Samsung">Samsung</option>
        <option value="Razer">Razer</option>
        <option value="Mediacom">Mediacom</option>
        <option value="Microsoft">Microsoft</option>
        <option value="Xiaomi">Xiaomi</option>
        <option value="Vero">Vero</option>
        <option value="Chuwi">Chuwi</option>
        <option value="Google">Google</option>
        <option value="Fujitsu">Fujitsu</option>
        <option value="LG">LG</option>
        <option value="Huawei">Huawei</option>
    </select><br>

    <label for="TypeName">Type (Who kind of laptop is it?):</label>
    <select id="TypeName" name="TypeName">
        <option value="Notebook">Notebook</option>
        <option value="Gaming">Gaming</option>
        <option value="Ultrabook">Ultrabook</option>
        <option value="2 in 1 Convertible">2 in 1 Convertible</option>
        <option value="Workstation">Workstation</option>
        <option value="Netbook">Netbook</option>
    </select><br>

    <label for="Ram">Ram (How much RAM in Gb?):</label>
    <input type="number" id="Ram" name="Ram" max="128" min="2" step="2" placeholder="8"> <br>

    <label for="Weight">Weight (How heavy is ur laptop in kg?):</label>
    <input type="text" id="Weight" name="Weight" placeholder="1.50" min="0"> <br>

    <label for="TouchScreen">TouchScreen (Does it have a touch screen display?):</label>
    <input type="checkbox" id="TouchScreen" name="TouchScreen"> <br>

    <label for="IPS">IPS (Does it have an IPS display?):</label>
    <input type="checkbox" id="IPS" name="IPS"> <br>

    <label for="PPI">Pixels Per Inch (Resolution / Screen size):</label>
    <input type="number" id="PPI" min="50" max="400" name="PPI" placeholder="200.0"> <br>

    <label for="Cpu_brand">CPU (What kind of CPU is in it?):</label>
    <select id="Cpu_brand" name="Cpu_brand">
        <option value="Intel Core i7">Intel Core i7</option>
        <option value="Intel Core i5">Intel Core i5</option>
        <option value="Intel Core i3">Intel Core i3</option>
        <option value="Other Intel Processor">Other Intel Processor</option>
        <option value="AMD Processor">AMD Processor</option>
    </select><br>

    <label for="HDD">HDD Capacity (How much HDD space in Gb?):</label>
    <input type="number" id="HDD" name="HDD" placeholder="500" min="0"> <br>

    <label for="SSD">SSD Capacity (How much SSD space in Gb?):</label>
    <input type="number" id="SSD" min="0" name="SSD" placeholder="128"> <br>

    <label for="Gpu_brand">GPU Brand (What brand of GPU is in it?):</label>
    <select id="Gpu_brand" name="Gpu_brand">
        <option value="Intel">Intel</option>
        <option value="AMD">AMD</option>
        <option value="Nvidia">Nvidia</option>
    </select><br>

    <label for="os">Operating System (Which OS does it run?):</label>
    <select id="os" name="os">
        <option value="Windows">Windows</option>
        <option value="Mac">Mac</option>
        <option value="Linux / Other / No OS">Linux / Other / No OS</option>
    </select><br>

    <p><input type='submit' value='Predict!'/></p>
</form> 

</body>
</html>